{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block main %}
    <h1>Create new Customer</h1>

    <div class="row">
        <div class="col-lg-6 mx-auto">
            {{ include('customer/_form.html.twig') }}   
        </div>
    </div>    

    <a class="btn btn-outline-primary" href="{{ path('app_customer_index') }}">back to list</a>

{% endblock %}
