{% extends 'base.html.twig' %}

{% block title %}Customer Login{% endblock %}

{% block main %}
    <h1>Customer Login</h1>
    <div class="row">
        <div class="col-lg-6 mx-auto">
        
        </div>
    </div>    
{% endblock %}
