{% extends 'base.html.twig' %}

{% block title %}Panel Admin{% endblock %}

{% block main %}
<a class="btn btn-outline-secondary" href="{{ path('app_user_index') }}">Users</a>
<a class="btn btn-outline-secondary" href="{{ path('app_customer_index') }}">Customers</a>

{% endblock %}
