{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block main %}
    <h1>Create new Product</h1>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            {{ include('product/_form.html.twig') }}
        </div>
    </div>
    
    <a class="btn btn-outline-primary" href="{{ path('app_product_index') }}">back to list</a>
{% endblock %}
