{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block main %}
    <h1>Registration form</h1>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
    

    <a class="btn btn-outline-primary" href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
